$background: #d5d6d2;
$highlight: #ff8d3f;
$font: #353c3f;
$wood: #756867;
$dark: #353C3F;

$red: #e30613;
$white: #e7e7e7;
$light_gray: #8e8e8e;
$dark_gray: #3d3d3d;

@font-face {
  font-family: 'ChalkDust';
  src: url('../fonts/ufonts.com_chalkdust.eot'), url('../fonts/ufonts.com_chalkdust.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GillSans';
  src: url('../fonts/ufonts.com_gillsans.eot'), url('../fonts/ufonts.com_gillsans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Trebuchet MS';
  src: url('../fonts/trebuchet_ms.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
//@import url(http://fonts.googleapis.com/css?family=Sintony);
//@import url(http://fonts.googleapis.com/css?family=Sintony);