$background: #d5d6d2;
$highlight: #ff8d3f;
$font: #353c3f;
$wood: #756867;
$dark: #353C3F;

@import url(http://fonts.googleapis.com/css?family=Rufina:400,700);
@import url(http://fonts.googleapis.com/css?family=Sintony);