<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>4IGNIN</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<noscript>Diese Seite benötigt Javascript</noscript>

<!-- Step 1: Magic Door -->
<div id="magicDoorTop" class="magicDoor">
    <img src="files/magic-door/logo-top.png"/>
</div>
<div id="magicDoorBottom" class="magicDoor">
    <img src="files/magic-door/logo-bottom.png"/>
</div>

<!-- Content -->

<div id="header" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <img class="groupImageTeam elementStyleBorder" src="files/fourigin-team.jpg" alt="Gruppenbild Fourigin Team"/>
            </div>
        </div>
    </div>
</div>
<div id="navigation">
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#vision" class="scroll">Unsere Vision</a></li>
                    <li><a href="#services" class="scroll">Was wir für Sie tun können</a></li>
                    <li><a href="#skills" class="scroll">Unsere Kompetenzen</a></li>
                    <li><a href="#about" class="scroll">Wer wir sind</a></li>
                    <li><a href="#contact" class="scroll">Nehmen Sie Kontakt auf</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div id="vision" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="section-heading">Unsere Vision</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center animationContainer">
                <p><span>...ob klein oder groß...</span></p>

                <p><span>...ob noch als fixe Idee oder alt eingesessen...</span></p>

                <p><span>...zur Verwirklichung Ihrer Visionen möchten wir Ihnen unsere Erfahrung und unser Know-How zur Verfügung stellen...</span>
                </p>

                <p><span>...startupunternehmen möchten wir mit einer, von Anfang an professionellen Unterstützung, den Weg an die Spitze erleichtern. Von einem Webauftritt bis hin zu komplexen Analysen und Lösungsvoschlägen…</span>
                </p>

                <p><span>...etablierten Unternehmen bieten wir neue und innovative Einblicke und Lösungen, um auch zukünftig vorne mitspielen zu können...</span>
                </p>

                <p><span>...wer auch immer Sie sind, was auch immer sie vorhaben, wir möchten Sie und Ihre Visionen kennenlernen...</span>
                </p>
            </div>
        </div>
    </div>
</div>

<div id="highlights" class="section">
    <div class="container">

        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="section-heading">Highlights</h2>
            </div>
        </div>
        <div class="row carousel">
            <div class="col-md-12">
                <div class="carouselItems">
                    <div class="carouselItem position1 active" data-position="1">
                        <img class="elementStyleBorder" src="files/teaser/01_slider_500.png"/>

                        <div class="copy">UNVERBINDLICHE
                            UND
                            KOSTENLOSE ERSTANALYSEN
                        </div>
                    </div>
                    <div class="carouselItem position2" data-position="2">
                        <img class="elementStyleBorder" src="files/teaser/02_slider_500.jpg"/>

                        <div class="copy">EXKLUSIVANGEBOTE FÜR STARTUP UNTERNEHMEN</div>
                    </div>
                    <div class="carouselItem position3" data-position="3">
                        <img class="elementStyleBorder" src="files/teaser/03_slider_500.png"/>

                        <div class="copy">PERSÖNLICHE ANSPRECHPARTNER
                        </div>
                    </div>
                    <div class="carouselItem position4" data-position="4">
                        <img class="elementStyleBorder" src="files/teaser/04_slider_500.jpg"/>

                        <div class="copy">RUNDUM SERVICE
                        </div>
                    </div>
                    <div class="carouselItem position5" data-position="5">
                        <img class="elementStyleBorder" src="files/teaser/05_slider_500.jpg"/>

                        <div class="copy">VISITENKARTE ODER KOMPLEXE WEBSEITE</div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 carouselTitle">

            </div>
        </div>
    </div>
</div>

<div id="services" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="section-heading">Was wir für Sie tun können!</h2>
            </div>
        </div>
        <div class="row">
            <br>

            <h3 class="text-center">Wir <span class="highlight">...</span></h3>
            <br>
            <br>
        </div>
        <div class="row">
            <div class="col-md-6 service-wrapper">
                <div class="service">
                    <div class="service-inner">
                        <div class="icon">
                                    <span>
                                        <i class="fa fa-cogs"></i>
                                    </span>
                        </div>
                        <div class="spacer">...</div>
                        <p>
                            geben Ihnen eine technische Analyse ihres Projekts in Kooperation eines fachlich
                            breitgefächerten Netzwerks
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 service-wrapper first">
                <div class="service">
                    <div class="service-inner">
                        <div class="icon">
                                    <span>
                                        <i class="fa fa-comments-o"></i>
                                    </span>
                        </div>
                        <div class="spacer">...</div>
                        <p>
                            garantieren ihnen im Verlauf des Projekts Offenheit / Transparenz und verständliche
                            Prozesspläne / Abläufe
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 service-wrapper">

                <div class="service">
                    <div class="service-inner">
                        <div class="icon">
                                    <span>
                                        <i class="fa fa-random"></i>
                                    </span>
                        </div>
                        <div class="spacer">...</div>
                        <p>
                            sind in jeder Phase Ihres Projekts flexibel, um Ihre Visionen erfolgreich auf den Weg zu
                            bringen
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 service-wrapper">
                <div class="service">
                    <div class="service-inner">
                        <div class="icon">
                                    <span>
                                        <i class="fa fa-user-secret"></i>
                                    </span>
                        </div>
                        <div class="spacer">...</div>
                        <p>
                            sichern Ihnen 100% Vertraulichkeit zu
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 service-wrapper">
                <div class="service">
                    <div class="service-inner">
                        <div class="icon">
                                    <span>
                                        <i class="fa fa-sitemap"></i>
                                    </span>
                        </div>
                        <div class="spacer">...</div>
                        <p>
                            präsentieren Ihnen unsere ausgearbeitete Konzeptvorstellung
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 service-wrapper">
                <div class="service">
                    <div class="service-inner">
                        <div class="icon">
                                    <span>
                                        <i class="fa fa-clock-o"></i>
                                    </span>
                        </div>
                        <div class="spacer">...</div>
                        <p>
                            bieten schnelle und termingerechte Umsetzung Ihres Projekts
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="skills" class="section">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <h2 class="section-heading">Unsere Kompetenzen</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    <div class="skill-wrapper">
                        <div class="skill-inner">
                            <div class="icon">
                                        <span>
                                            <i class="fa fa-line-chart"></i>
                                        </span>
                            </div>
                            <p class="skill-headline">
                                Aufgabeanalyse & Planung
                                <br>
                                <a class="btn btn-default read-more" href="#" role="button">Mehr erfahren</a>
                            </p>

                            <div class="skill-info col-md-8 col-md-offset-2">
                                <div class="skill-inner">
                                    <p>
                                        Schrittweiser Entwicklungsprozess mit enger Einbeziehung des Kunden
                                    </p>

                                    <p>
                                        Professionelles Design für Geschäftsabläufe und Datenstrukturen zur Ermöglichung
                                        eines optimalen Datenflusses
                                    </p>

                                    <p>
                                        Einbeziehung der professionellen Benutzerführung-Analyse (UX) in die
                                        Entwurfsphase
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 ">
                    <div class="skill-wrapper">
                        <div class="skill-inner">
                            <div class="icon">
                                        <span>
                                            <i class="fa fa-wrench"></i>
                                        </span>
                            </div>
                            <p class="skill-headline">
                                Richtlinien der Produktentwicklung
                                <br>
                                <a class="btn btn-default read-more" href="#" role="button">Mehr erfahren</a>
                            </p>

                            <div class="skill-info col-md-8 col-md-offset-2">
                                <div class="skill-inner">
                                    <p>
                                        Anbindung an externe Anwendungen und Datenbanken durch offene Schnittstellen und
                                        Protokolle
                                    </p>

                                    <p>
                                        Einsatz von relationalen und Dokument-basierten Datenbanksystemen (mySQL /
                                        couchDB)
                                    </p>

                                    <p>
                                        Maximale Produktqualität durch den hohen Grad der automatischen Testabdeckung
                                        aller Software-Module (JUnit / Spock)
                                    </p>

                                    <p>
                                        Einsatz modernster Techniken und Technologien zur Erstellung eines stabilen und
                                        sicheren Produktes
                                                <span class="additional-info">
                                                    HTML5 und CSS3 bestimmen aktuell die Entwicklung im Frontend-Bereich. Skallierbare Web-Anwendungen mit Micro-Services sind ein Beispiel aus dem Backend-Bereich. Wir setzen diese Technologien ein, unter Berücksichtigung ihrer Anwendbarkeit sowie der funktionellen Zuverlässigkeit.
                                                </span>
                                    </p>

                                    <p>
                                        Versionierung aller Änderungen (git / svn)
                                                <span class="additional-info">
                                                    Von der ersten Zeile an wird jeglicher Code und Markup in einem Versionierungssystem gespeichert - bei jeder Änderung. Dies ermöglicht einen äußerst hohen Grad an Verlustsicherheit, eine lückenlose Historie über die Entwicklungsprozesse mit der Möglichkeit, zu jedem vorherigen Zustand zurückzuspringen.
                                                </span>
                                    </p>

                                    <p>
                                        Mehrschichtiges Architekturdesign für bessere Flexibilität und Testbarkeit aller
                                        Software-Module
                                                <span class="additional-info">
                                                    Unsere Software basiert auf dem Konzept der Model-View-Controller (MVC) Aufteilung und wird modular aufgebaut. Präzise definierte Schnittstellen erlauben einen leichten Austausch eines Modules durch ein anderes, ohne dass dabei das komplette Produkt neu entwickelt werden muss. Und automatische Tests (JUnit/Spock) sorgen dafür, dass einzelne Module unabhängig voneinander bei jeder Änderung auf ihre Funktionalität geprüft werden, um unerwünschten Seiteneffekten bei Code-Änderungen vorzubeugen. Integrationstests überprüfen anschließend das Zusammenspiel mehrerer Module und sorgen für bestmögliche Produkt-Qualität.
                                                </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-12">
                <div class="col-md-6">
                    <div class="skill-wrapper">
                        <div class="skill-inner">
                            <div class="icon">
                                        <span>
                                            <i class="fa fa-clipboard"></i>
                                        </span>
                            </div>
                            <p class="skill-headline">
                                Ziele & Anforderungen
                                <br>
                                <a class="btn btn-default read-more" href="#" role="button">Mehr erfahren</a>
                            </p>

                            <div class="skill-info col-md-8 col-md-offset-2">
                                <div class="skill-inner">
                                    <p>
                                        Ressourcen-schonende Strategie für Entwicklung leichtgewichtiger Webseiten und
                                        Software-Komponenten
                                                <span class="additional-info">
                                                    Wir reduzieren, vereinfachen und optimieren Markup und Code so weit wie möglich, um Ihre Webseiten schnell zu machen sowie Datenspeicher- und Traffic-Gebühren zu reduzieren.
                                                </span>
                                    </p>

                                    <p>
                                        Optimale Darstellung der Webseite auf verschiedenen Geräten (Responsive
                                        Webdesign)
                                                <span class="additional-info">
                                                    Wir entwickeln eine Webseite so, dass sie sich automatisch an die Dimensionen des Bildschirms anpasst und damit bei allen Bildschirmauflösungen (Handy, Tablet, PC, TV, u.a.) optimal lesbar ist. Sie bekommen eine einzige Webseite, die Sie leicht pflegen können, anstatt einzelnen Webseiten (sog. “m-Seiten”) pro Bildschirmauflösung wie oft üblich.
                                                </span>
                                    </p>

                                    <p>
                                        Solide Entwicklung basierend auf etablierten Standards
                                                <span class="additional-info">
                                                    Basis unseres Markups für Webseiten sind valide, standardisierte Konstrukte; wir vermeiden experimentelle Konstellationen, die nach einiger Zeit nicht mehr funktionieren.
                                                </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="skill-wrapper">
                        <div class="skill-inner">
                            <div class="icon">
                                        <span>
                                            <i class="fa fa-check-circle"></i>
                                        </span>
                            </div>
                            <p class="skill-headline">
                                Qualitätssicherung & Produktauslieferung
                                <br>
                                <a class="btn btn-default read-more" href="#" role="button">Mehr erfahren</a>
                            </p>

                            <div class="skill-info col-md-8 col-md-offset-2">
                                <div class="skill-inner">
                                    <p>
                                        Garantierte In-House Software- und Produkt-Entwicklung mit qualifiziertem
                                        Support
                                                <span class="additional-info">
                                                    Wir wollen Ihnen Produkte anbieten, die wir selbst zu 100% verstehen, Ihnen besten Gewissens vorstellen und die wir auch nach vielen Jahren noch mit vollem Support unterstützen können. Daher setzen wir Software-Bibliotheken nur dann ein, wenn diese eine breite Unterstützung haben und zu einem de facto Standard geworden sind. Große Teile unserer Software werden von uns selbst entwickelt und an die Standards angepasst.
                                                </span>
                                    </p>

                                    <p>
                                        Mehrstufige Qualitätssicherung-Maßnahmen inkl. Code-Review und Integrationstests
                                    </p>

                                    <p>
                                        Datensicherung durch vollständigen täglichen Backup
                                    </p>

                                    <p>
                                        Qualifizierte Übergabe/Installation des Produktes inkl. Vorführungen, Schulungen
                                        und Dokumentation
                                    </p>

                                    <p>
                                        Kostenlose Upgrade-Strategie in Bezug auf Sicherheitsstandards und
                                        Gesetzesvorgaben
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="about" class="section">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <h2 class="section-heading">Wer wir sind</h2>
            </div>
        </div>
        <div class="row about-persons">
            <div class="col-md-3 text-center about-person">
                <a href="#vlad">
                    <div class="image-wrapper">
                        <img src="files/vlad-small.jpg"/>
                    </div>
                    <h4>Vlad Satanovski</h4>

                    <p class="description">
                        Backend Software Architecture
                    </p>
                </a>
            </div>
            <div class="col-md-3 text-center about-person">
                <a href="#simon">
                    <div class="image-wrapper">
                        <img src="files/simon-small.jpg"/>
                    </div>
                    <h4>Simon Heger</h4>

                    <p class="description">
                        Content & Database Management
                    </p>
                </a>
            </div>
            <div class="col-md-3 text-center about-person">
                <a href="#karsten">
                    <div class="image-wrapper">
                        <img src="files/karsten-small.jpg"/>
                    </div>
                    <h4>Karsten Schäfer</h4>

                    <p class="description">
                        UX Analysis & Frontend Development
                    </p>
                </a>
            </div>
            <div class="col-md-3 text-center about-person">
                <a href="#michael">
                    <div class="image-wrapper">
                        <img src="files/michael-small.jpg"/>
                    </div>
                    <h4>Michael Krug</h4>

                    <p class="description">
                        SEO Analysis & Account Management
                    </p>
                </a>
            </div>
            <div class="about-detail-wrapper">

            </div>
        </div>

        <div class="col-md-12 about-detail" id="vlad">
            <div class="inner-wrapper">
                <div class="col-md-4 text-center">
                    <img src="files/vlad-small.jpg"/>
                </div>
                <div class="col-md-8">
                    <h4>Vlad Satanovski</h4>
                    <h5>
                        Backend Software Architecture
                    </h5> </p>
                    <p>
                        Hallo, ich bin Vlad.
                    </p>

                    <p>
                        Meine „Karriere“ startete, als ich neben Mathematik noch anfing Informatik zu studieren.
                    </p>

                    <p>
                        Nach dem Studium blieb ich an der Universität und war dort als Software Designer und Entwickler
                        tätig mit der Aufgabe ein Konzept und die Entwicklung einer Web-Anwendung zur Administration von
                        Datenbank-Systemen zu erstellen und umzusetzen.
                    </p>

                    <p>
                        Als Dozent bei mcNet Systems Consulting führte ich Java-Schulungen für Gruppen bis zu 15
                        Teilnehmern durch.
                    </p>

                    <p>
                        Bei FlexSecure GmbH war ich als Software Designer und Entwickler tätig und arbeitete im Bereich
                        IT-Security u.A. an folgenden Themen:
                    </p>
                    <ul>
                        <li>Chipkarten-basierte Absicherung der Kommunikation</li>
                        <li>Einsatz von OTP-Generatoren</li>
                        <li>Entwicklung einer Anwendung zur zentralisierten Verwaltung der Konfigurationsdateien von
                            komplexen Systemen
                        </li>
                    </ul>
                    <p>
                        Mein nächster Anlaufpunkt war die Ignition Groupe GmbH. Hier war ich als technischer
                        Projektmanager für die Entwürfe und das Design einer J2EE-Plattform eines Content-Management
                        Systems zuständig.
                    </p>

                    <p>
                        Als Senior Software Architekt entwickelte ich einen REST-Webservice für die Ankopplung an das
                        General Motors Content Management System und darüber hinaus ein Bildgenerator-Verfahren auf
                        modeldatenbank basierte Konfigurationen.
                    </p>

                    <p>
                        In der Zukunft bin ich gespannt auf Ihre Visionen und werde Ihnen innovative Konzepte und
                        Lösungen präsentieren.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-12 about-detail" id="simon">
            <div class="inner-wrapper">
                <div class="col-md-4 text-center">
                    <img src="files/simon-small.jpg"/>
                </div>
                <div class="col-md-8">
                    <h4>Simon Heger</h4>
                    <h5>Content & Database Management</h5>

                    <p>
                        Hallo, ich bin Simon.
                    </p>

                    <p>
                        Ich bin als absoluter Quereinsteiger zu meinem jetzigen Beruf gekommen.
                    </p>

                    <p>
                        Als selbstständiger Zweiradmechaniker im Bereich Downhill/Freeride/Enduro und Geschäftsführer
                        eines Bike Shops hatte ich schon immer ein hohes Gespür für Präzision und technische Abläufe,
                        auf die Ich auch jetzt im Bereich Content & Database Management zurückgreifen kann.
                    </p>

                    <p>
                        Bei der Ignition Groupe in Frankfurt habe Ich meine Fertigkeiten durch einen neuen
                        Internetauftritt (Responsive Webdesign) und Rollout der Website eines Automobilherstellers für
                        36 europäische Länder in 44 Sprachen - in Zusammenarbeit mit dem Projektmanagement, den
                        Software- und Web-Entwicklern erweitert und gefestigt.

                    <p>
                        Die Erstellung und Pflege von Inhalten über ein Redaktionssystem (Content Management System),
                        dem bearbeiten von XML-, HTML- und CSS-Dateien, der Datenbankpflege für verschiedene Modelle und
                        Autozubehör und die umfassenden Arbeitsabläufe einer Webagentur haben mich in meiner Entwicklung
                        voran gebracht.
                    </p>

                    <p>
                        In den letzten Jahren war ich am Aufbau und der Mitgestaltung eines Konfigurators (System zur
                        Bildgenerierung) zur produktkorrekten Darstellung eines internationalen Automobilherstellers
                        maßgeblich beteiligt und als Schnittstelle der involvierten Abteilungen unverzichtbar.
                    </p>

                    <p>
                        In der Zukunft freue ich mich auf neue Herausforderungen, spannende Projekte und innovative
                        Lösungen.
                    </p>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-12 about-detail" id="michael">
            <div class="inner-wrapper">
                <div class="col-md-4 text-center">
                    <img src="files/michael-small.jpg"/>
                </div>
                <div class="col-md-8">
                    <h4>Michael Krug</h4>
                    <h5>SEO Analysis & Account Management</h5>

                    <p>
                        Hallo, ich bin Michael.
                    </p>

                    <p>
                        Ich bin als Quereinsteiger zu meinem jetzigen Beruf gekommen und habe bei der Ignition Groupe im
                        Content Management Bereich angefangen.
                    </p>

                    <p>
                        Unter anderem betrafen meine Aufgaben dort:
                    </p>
                    <ul>
                        <li>Relaunch von vielschichtigen Webseiten eines internationalen Automobilherstellers</li>
                        <li>Webseitenmodifikation in Responsive Webdesign</li>
                        <li>Rollout einzelner Projekte für 36 Länder in 44 Sprachen</li>
                        <li>Datenbankpflege</li>
                        <li>Erstellung und Pflege von Inhalten über ein Redaktionssystem (Content-Management-System)
                        </li>
                        <li>Zusammenarbeit mit Grafik, Projektmanagement, Software und Web Entwicklern</li>
                    </ul>
                    <p>
                        Auf diese Weise konnte ich mein theoretisches und praktisches Wissen erweitern und festigen.
                    </p>

                    <p>
                        Durch die Bearbeitung von komplexen XML-, HTML-, und CSS-Dateien konnte ich meine vorhandene
                        Sachkenntnis ausbauen.
                    </p>

                    <p>
                        In den letzten Jahren war ich zusätzlich als Führungskraft eines Qualitätssicherungsteams von
                        bis zu 13 Mitarbeitern tätig. Meine Aufgaben als Team Leader umfassten unter anderen die
                        Strukturierung und Koordinierung des Teams sowie die Auftragsvergabe und Kontrolle der
                        bearbeiteten Aufgaben.
                    </p>

                    <p>
                        Bei Fourigin umfassen meine Aufgaben unter anderem das „Kriegsgebiet“ SEO Analysis und das
                        Account Management.
                    </p>

                    <p>
                        Ich freue mich schon sehr darauf mit Ihnen in Kontakt zu treten,
                        um gemeinsam Ideen zu entwickeln und Ihre Visionen zu verwirklichen.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-12 about-detail" id="karsten">
            <div class="inner-wrapper">
                <div class="col-md-4 text-center">
                    <img src="files/karsten-small.jpg"/>
                </div>
                <p class="col-md-8">
                <h4>Karsten Schäfer</h4>
                <h5>
                    UX Analysis & Frontend Development
                </h5>

                <p>
                    Hallo, ich bin Karsten.
                </p>

                <p>
                    Seit über zehn Jahren entwickel ich Webseiten, erstelle mit Kunden zusammen Benutzeroberflächen und
                    programmiere Web-Applikationen.
                </p>

                <p>
                    Überwiegend bin ich für eine große internationale Agentur in Frankfurt als Senior Webdeveloper
                    tätig, und als Lead des Frontend-Teams habe ich
                    zahlreiche Webseiten erstellt, Web-Applikationen von CMS-Modulen, Web-Konfiguratoren oder
                    DB-to-print-Anwendungen
                    konstruiert, geplant, gebaut oder supported.
                </p>

                <p>
                    Ich freue mich, nun auch für Sie Ihre Vorstellungen umzusetzen und im Dialog mit Ihnen Ihre Wünsche
                    in tolle Webseiten und -produkte umzusetzen!
                </p>
            </div>
        </div>
    </div>

</div>
</div>

<div id="contact" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="section-heading">Sie haben eine Idee? <br>Schreiben Sie uns unverbindlich:</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 idea-form col-md-offset-3">
                <br>

                <form method="post" target="formTarget" action="process-contact-form.php">
                    <label>
                        <span>Name:</span>
                        <input name="name" type="text"/>
                    </label>
                    <label>
                        <span>E-Mail:</span>
                        <input type="email" name="email" type="text"/>
                    </label>

                    <div class="label">Ihre Idee:</div>
                    <textarea name="idea" rows="3" cols="50"></textarea>

                    <div class="button-wrapper">
                        <input type="submit" class="btn btn-default"/>
                    </div>
                </form>
                <iframe style="visibility: hidden; position: absolute; height: 0; width: 0;" name="formTarget"
                        id="formTarget"></iframe>
            </div>
        </div>
    </div>
</div>

<div id="footer" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul>
                    <li><a href="#">Impressum</a></li>
                    <li>Copyright - 2015 fourigin.com</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="blockpane">
    <i class="fa fa-times-circle close"></i>

    <div class="content"></div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
<script src="js/vendor/bootstrap.js"></script>
<script src="js/scripts.min.js"></script>
<!---->
<script type="text/javascript">
    var jMagicDoors = jQuery(".magicDoor");
    jMagicDoors.on("click", function () {
        jMagicDoors.addClass("opened");
    });
    jQuery(window).on("scroll", function () {
        jMagicDoors.addClass("opened");
    });


    /* Carousel Elements */
    var jCarouselElements = jQuery(".carousel"),
            jCarouselItems = jCarouselElements.find(".carouselItem"),
            jCarouselTitle = jCarouselElements.find(".carouselTitle"),
            iAmountCarouselItems = jCarouselItems.length;
    //
    jCarouselItems.on("click", function () {
        var jThis = jQuery(this),
                iClickedItemIndex = jThis.index();
        //
        jCarouselItems.each(function () {
            jQuery(this).removeClass("active")
        });
        jThis.addClass("active");

        for (var i = 0, iViewPositionIndex = iClickedItemIndex; i < iAmountCarouselItems; i++) {
            jCarouselItems.eq(iViewPositionIndex).attr("data-position", "" + (i + 1));
            //
            if (iViewPositionIndex === iAmountCarouselItems - 1) {
                iViewPositionIndex = 0;
            }
            else {
                iViewPositionIndex++;
            }
        }
        // Copy title:
        jCarouselTitle.html(jThis.find(".copy").text());
    });

    // Init:
    jCarouselItems.filter(".active").click();

</script>
</body>
</html>
